<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CarsList | Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" tye="text/css" href="./css/styles.css">
</head>
<body>
<nav th:replace="base :: navlinks"></nav>
<div th:replace="base :: bg-img"></div>

<div class="container home-container">
    <div class="row">
        <div class="col-xs-3 filters">
            <h6 class="text-muted" style="letter-spacing: 2px;">Filter</h6>
            <br>
            <ul class="nav flex-column" th:each="category : ${categories}">
                <li class="nav-item">
                    <a class="nav-link active" href="#" th:text="${category.categoryName}"></a>
                    <hr>
                </li>
            </ul>
        </div>
        <div class="card-columns col-xs-9">
            <div th:each="car : ${cars}">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h6 class="card-text"th:text="${car.make}"></h6>
                        <p class="card-text" style="font-weight: 400;" th:text="${car.model}"></p>
                        <img class="img-fluid" th:src="${car.img}">
                        <div style="height:20px;"></div>
                        <a th:href="@{/details/{id}(id=${car.id})}" class="btn btn-primary mx-auto d-block">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>